{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <style>
    .labelBook {
      font-family: 'Merriweather', 'Georgia', serif;
    }
    .descriptionContainer {
      border-bottom: 1px solid #ddd;
      padding-bottom:10px;
      padding-top:10px;
    }
    a.disabled {
      pointer-events: none; /* делаем элемент неактивным для взаимодействия */
      cursor: default; /*  курсор в виде стрелки */
      color: #888;/* цвет текста серый */
    }


  </style>
  <div class="container" style="margin-top:10px; margin-left:10px; margin-right: 10px;">
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          {% if book.image %}
            <img id="bookImage" src="data:image/png;base64,{{ book.image }}" style="max-width: 250px;">
          {% else %}
            <img id="bookImage" src="http://otkrytki-animacii.1000e.ru/_ph/177/2/472542465.jpg?1568208716" style="max-width: 250px;">
          {% endif %}
        </div>
        <div class="dropdown" style="margin-top:10px; margin-left:40px;">
          <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" style="width: 135px">Состояние
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li class="item" value="1" role="status"><a role="menuitem" tabindex="-1">Прочитано</a></li>
            <li class="item" value="2" role="status"><a role="menuitem" tabindex="-1">В процессе</a></li>
            <li class="item" value="3" role="status"><a role="menuitem" tabindex="-1">Хочу прочитать</a></li>
            <li class="divider"></li>
            <li class="item" value="-1" role="status"><a role="menuitem" tabindex="-1">Сбросить</a></li>
          </ul>
        </div>
        <div class="row">
          <button type="button" id="delete_button" class="btn btn-danger btn-test labelBook" style="margin-top:10px; margin-left:62px;">Удалить книгу</button>
        </div>
        <div class="row">
          <button type="button" id="change_button" class="btn btn-info btn-test labelBook" style="margin-top:10px; margin-left:77px;" data-toggle="modal" data-target="#change_window">Изменить</button>
        </div>

      </div>
      <div class="col-sm-8">
        <h1 class="labelBook" style="font-weight: bold;">{{ book.title }}</h1>
        <div class="container descriptionContainer col-sm-12" style="padding-right: 15%;">
          <span class="labelBook" style="font-size: 18px;">Автор: </span>
          <span class="labelBook" style="font-size: 18px;">{{ book.author }}</span>
          <div style="margin-top:8px;">
            <span class="labelBook" style="line-height: 21px; font-size: 16px;">{{ book.about_book }}</span>
          </div>
          <h3 class="labelBook" style="font-weight: bold;">Местоположение</h3>
          <div class="container col-sm-12">
            <p class="labelBook" style="font-size: 16px; margin-right:10px;">Стелаж: {{ book.shelving }}
            <br>Полка: {{ book.shelf }}
            <br>Ряд: {{ book.column }}
            <br>Позиция: {{ book.position }}</p>
          </div>

        </div>
        {% if books[0].id %}
        <div class="container col-sm-12">
          <h4 class="labelBook" style="font-weight: bold;">Другие книги автора</h4>
          <div class="container col-sm-12">
              {% for another in books %}
                <div class="row descriptionContainer">
                  <div class="col-sm-3">
                    <a href="{{ url_for('book', username=current_user.username, bookid=another.id) }}">
                      {% if another.image %}
                        <img id="anotherImage" src="data:image/png;base64,{{ another.image }}" style="max-width: 100px;">
                      {% else %}
                        <img id="bookImage" src="http://otkrytki-animacii.1000e.ru/_ph/177/2/472542465.jpg?1568208716" style="max-width: 100px;">
                      {% endif %}
                    </a>
                  </div>
                  <div class="col-sm-5/">
                    <a href="{{ url_for('book', username=current_user.username, bookid=another.id) }}" style="color:inherit; ">
                      <h5 class="labelBook">{{ another.title }}</h5>
                    </a>
                    <span class="labelBook" style="font-size: 13px;">ЖАНР</span>
                  </div>
                </div>
              {% endfor %}
          </div>
        </div>
        {% endif %}

      </div>
    </div>
  </div>

  <div class="modal fade" id="delete_window" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">???</h4>
        </div>
        <div class="modal-body">
          <p>Вы ТОЧНО хотите удалить книгу из библиотеки?</p>
        </div>
        <div class="modal-footer">
          <button id="delete_d" type="button" class="btn btn-default" data-toggle="modal" data-target="#delete_delete">Удалить</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="delete_delete" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">??????</h4>
        </div>
        <div class="modal-body">
          <p>ТОЧНО ТОЧНО???</p>
        </div>
        <div class="modal-footer">
          <button id="delete" type="button" class="btn btn-default" data-dismiss="modal">ТОЧНО</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="change_window" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Изменение</h4>
        </div>
        <div class="modal-body">
          {{ wtf.quick_form(locate) }}
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="occupied_window" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Ой, ой...</h4>
        </div>
        <div class="modal-body">
          <p id="p_occurrence" class="text-center"> </p>
        </div>
      </div>
    </div>
  </div>


  <script>
    $(document).ready(function() {
      statusDisplay({{ book.status }});
    });

    function statusDisplay(status) {
      if (status == 1) {
        $("#menu1").html('Прочитано <span class="caret"></span>');
      } else if (status == 2) {
        $("#menu1").html('В процессе <span class="caret"></span>');
      } else if (status == 3) {
        $("#menu1").html('Хочу прочитать <span class="caret"></span>');
      }
    }

    $(".item").click(function() {

      if ({{ book.status }} > 0) {
        if ($(this).val() == -1) {
          $.ajax({
            type: "DELETE",
            url: "http://localhost:5000/delete_status",
            data: JSON.stringify({"info": {"book_id": {{ book.book_id }}}}),
            contentType: "application/json; charset=utf-8",
            success: function(res) {
              location.reload();
            }
          });
        } else {
          $.ajax({
            type: "PUT",
            url: "http://localhost:5000/set_status",
            data: JSON.stringify({"info": {"status": $(this).val(), "book_id": {{ book.book_id }} }}),
            contentType: "application/json; charset=utf-8",
            success: function(res) {
              if (res["Ratatoskr"] == "occupied") {
                $("#occupied_window").modal();
                $("#p_occurrence").html("Книги сейчас нет на месте( Она у пользователя " + res["username"]);
              } else {
                statusDisplay(res["Ratatoskr"]);
              }
            }
          });
        }
      } else if ({{ book.status }} == 0  && $(this).val() != -1) {
        //$("#menu1").html($(this).text()+' <span class="caret"></span>');
        $.ajax({
          type: "POST",
          url: "http://localhost:5000/set_join_user_book",
          data: JSON.stringify({"info": {"status": $(this).val(), "book_id": {{ book.book_id }}}}),
          contentType: "application/json; charset=utf-8",
          success: function(res) {
            if (res["Ratatoskr"] == "occupied") {
              $("#occupied_window").modal();
              $("#p_occurrence").html("Книги сейчас нет на месте(<br> Она у пользователя " + res["username"]);

            } else {
              statusDisplay(res["Ratatoskr"]);
            }
          }
        });
      }
    });

    $("#delete_button").click(function() {
      $.ajax({
        type: "POST",
        url: "http://localhost:5000/check_status_equal_two",
        data: JSON.stringify({"book_id": {{ book.book_id }}}),
        contentType: "application/json; charset=utf-8",
        success: function(res) {
          if (res["Ratatoskr"] == "occupied") {
            $("#occupied_window").modal();
            $("#p_occurrence").html("Вы не можете удалить книгу, т.к. ее читает пользователь " + res["username"]);
          } else {
            $("#delete_window").modal();
          }

        }
      });
    });

    $("#delete").click(function() {
      $.ajax({
        type: "DELETE",
        url: "http://localhost:5000/delete_book",
        data: JSON.stringify({"info": {"book_id": {{ book.book_id }}}}),
        contentType: "application/json; charset=utf-8",
        success: function(res) {
            document.location.replace("{{ url_for('index') }}");
        }
      });
    });

    $("#submit").click(function() {

    });



  </script>
{% endblock %}
